<<<<<<< HEAD
.flex-container {
    display: flex;
}

.flex-container>div {
    margin: 5px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
}

.centerFlex{
    justify-content: center;
    margin-top: 8%;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    background-color: #6f36bc;
    color: black;
}

input{
    border: 1px solid #ba09b1;
    border-radius: 20px;
    background-color: lightgrey;
    padding-left: 20px;
    padding-right: 20px;
}

.grad {
    background-image: linear-gradient(to bottom right, #6f36bc, #f3efff);
}

#loginBox{
    min-width: fit-content;
}

#dataholder{
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    color:white; 
    font-size: 30px;
    background-color: grey; 
    border-collapse:separate;
    border-spacing: 2em;
}

tr{
    
}

#dataholder > td{
    margin-left: 5%;
    margin-right: 5%;
=======
.flex-container {
    display: flex;
}

.flex-container>div {
    margin: 5px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
}

.centerFlex{
    justify-content: center;
    margin-top: 8%;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    background-color: #6f36bc;
    color: black;
}

input{
    border: 1px solid #ba09b1;
    border-radius: 20px;
    background-color: lightgrey;
    padding-left: 20px;
    padding-right: 20px;
}

.grad {
    background-image: linear-gradient(to bottom right, #6f36bc, #f3efff);
}

#loginBox{
    min-width: fit-content;
}

#dataholder{
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    color:white; 
    font-size: 30px;
    background-color: grey; 
    border-collapse:separate;
    border-spacing: 2em;
}

tr{
    
}

#dataholder > td{
    margin-left: 5%;
    margin-right: 5%;
>>>>>>> 137789bfc158f252942445945e373cc322fa5c82
}